<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "index.html" %}

{% block content %}
<h2>Login</h2>
<form method="POST" action="{{ url_for('login_dosen') }}">

    <div class="mb-3">
        <label for="">NIDN</label>
        <input type="number" name="nidn">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}

</body>
</html>