<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    <h1>Selamat Datang di profile dosen</h1>
    {% if current_user.is_authenticated %}
    <p>Halo, {{ current_user.nama_dosen }}!</p>
    <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
    <a href="{{ url_for('add_jadwal') }}">Tambah Jadwal</a>
    <p>Jadwal Kamu:</p>
    <ul>
        {% for jadwal in current_user.jadwal_kuliah %}
        <li>{{ jadwal.hari }} - {{ jadwal.jam_mulai }} sampai {{ jadwal.jam_selesai }}</li>
        <a href="{{ url_for('edit_jadwal', jadwal_id=jadwal.id_jadwal) }}">Edit</a>
        <form action="{{ url_for('delete_jadwal', jadwal_id=jadwal.id_jadwal) }}" method="POST">
            <button type="submit" class="btn btn-danger">Hapus</button>
        </form>

        {% else %}
        <p>Belum ada jadwal.</p>
        {% endfor %}
    </ul>
    {% else %}
    <a href="{{ url_for('login_dosen') }}" class="btn btn-primary">Login</a>
    <!-- Menambahkan tanda penutup > di sini -->
    {% endif %}
    {% endblock %}
</body>

</html>