<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "index.html" %}

{% block content %}
<h2>Register</h2>
<form method="POST">

    <div class="mb-3">
        <label for="">username</label>
        <input type="text" name="nama_mahasiswa" class="form-control">
    </div>
    <div class="mb-3">
        <label for="">Alamat Mahasiswa</label>
        <input type="text" name="alamat_mahasiswa">
    </div>
    <div class="mb-3">
        <label for="">Tanggal Lahir</label>
        <input type="date" name="tanggal_lahir">
    </div>
    <div class="mb-3">
        <label for="">Jenis kelamin</label>
        <select name="jenis_kelamin" id="">
            <option value="laki-laki">Laki-Laki</option>
            <option value="perempuan">Perempuan</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="">password</label>
        <input type="password" name="password_mahasiswa">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}

</body>
</html>